/*all elements*/
html{
    margin: 20px;
    padding: 0;
}
a{
    color:midnightblue;
}
.page-wrapper{
    background-image: url(img/bg03.jpg);
    background-position: center;
}

header h1 {
    background: radial-gradient(#F8F8FF, #6C87D9);
    text-align: center;
    padding: 70px;
    margin-top: 0%;
}
h1 {
    color:lightpink;
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
}
.summary{
    border: 5px dotted #6C87D9;
    margin: 25px 50px 25px;
    padding: 10px;
}
h2{
    color:burlywood;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    margin: 25px 50px;
}
.preamble{
    margin: 25px 50px 25px;
    padding: 10px;
    color:#6C87D9;
}
abbr{
    color: burlywood;
}

.main.supporting{
    column-count: 4;
    column-gap: 30px;
    column-rule: 3px dotted #6C87D9;
    margin: 25px 50px 25px;
    padding: 10px;
    display: flex;
}
.main.supporting h3{
    color: burlywood;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    column-fill: balance;
}
.main.supporting p{
    color:dimgray;
}

footer{
    display:none;
}

aside{
    background:radial-gradient(#F8F8FF, #6C87D9);
    padding: 20px;
    column-count: 3;
    display:ruby-base-container;
}
aside h3{
    column-span: all;
    color:burlywood;
}