
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --font-header:'gill-sans-nova', sans-serif;
    --font-body:'Lato', sans-serif;

    --header-height: 3rem;

    --color-main-dark:#29423c;
    --color-main-medium:#9fbf88;
    --color-main-light:#d0ecc2;
    --color-main-yellow:#edbb4d;
}

body {
    margin:0;
    font-family:var(--font-body);
}

a {
    color:var(--color-main-dark);
    font-weight: bold;
    text-decoration: none;
}



/* APP STRUCTURE */

.ui-loader {
    display: none;
}

[data-role="page"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

[data-role="page"].ui-page-active {
    display: flex;
    flex-direction: column;
}

[data-role="main"] {
    flex: 1 1 100%;
    position: relative;
    overflow: hidden;

    z-index: 1;
}

[data-role="header"],
[data-role="footer"] {
    line-height: var(--header-height);
    height: var(--header-height);
    position: relative;
    overflow: hidden;
    background-color: var(--color-main-medium);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    z-index: 2;
}


/* Core Navigation */
[data-role="header"] ul,
[data-role="footer"] ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    position: relative;
}

[data-role="footer"] li {
    flex: 1 1 auto;
    text-align: center;
}


[data-role="header"] h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    text-align: center;
    font-size: 1em;
    margin: 0;
}

[data-role="header"] a {
    padding: 0 1em;
}
[data-role="header"] a,
[data-role="footer"] a {
    display: block;
}


/* Basic layout tools */
.display-flex { display: flex;}
.display-inline-flex { display: inline-flex;}
.display-block { display: block;}
.display-inline-block { display: inline-block;}

.flex-align-center { align-items: center; }
.flex-justify-center { justify-content: center;}

.flex-none { flex: none;}
.flex-stretch { flex: 1 1 auto; }

.flex-column { flex-direction: column; }

.overscroll { overflow: auto; }





/* Forms */
.form-control {
    margin: 1em 0;
}
.form-label {
    font-size: 1em;
    color: var(--color-main-yellow);
    display: block;
    margin-bottom: 0.5em;
}
.form-input {
    background-color: transparent;
    border-width: 1px;
    border-color: var(--color-main-medium);
    border-style: solid;
    border-radius: 0.8em;
    padding: 0.5em 1em;
    display: inline-block;
    width: 100%;
    font: inherit;
}
.form-button {
    background-color: var(--color-main-light);
    border-width: 0;
    border-radius: 0.8em;
    padding: 0.5em 1em;
    display: inline-block;
    width: 100%;
    font: inherit;
    text-align: center;
    color: inherit;
}

.form-button:hover {
    text-decoration: none;
}


#signin-form,
#signup-form {
    padding: 1em;
}

.signin-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-icon {
    width: 80vw;
}



.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/map02.png');
    background-position: center;
    background-size: cover;
}




/* FLOATER */
.floater { position: absolute; }
.floater.top { top: 1rem; }
.floater.right { right: 1rem; }
.floater.bottom { bottom: 1rem; }
.floater.left { left: 1rem; }

.btn-circle {
    border-radius: 2rem;
    line-height: 3rem;
    font-size: 2.5em;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background-color: white;
    display: block;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
}


/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;
    z-index: 10;
}
.modal.active {
    opacity: 1;
    pointer-events: initial;
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-back.transparent {
    background-color: transparent;
}


.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 3em));
    width: 80vw;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    overflow: hidden;
    transition: all 0.3s;
}
.modal.active .modal-popup {
    transform: translate(-50%, -50%);
}


.modal-drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.modal-drawer.right,
.modal-drawer.left {
    height: 100%;
    width: 70vw;
}
.modal-drawer.right { right: 0; transform: translateX(100%); }
.modal-drawer.left { left: 0; transform: translateX(-100%); }

.modal-drawer.top,
.modal-drawer.bottom {
    height: 40vh;
    width: 100%;
}
.modal-drawer.top { top: 0; transform: translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform: translateY(100%); }
.modal.active .modal-drawer {
    transform: translate(0);
}



.modal-head,
.modal-foot {
    background-color: var(--color-main-yellow);
    padding: 0.5em 1em;
}
.modal-body {
    background-color: white;
    padding: 2em;
    flex: 1 1 100%;
    overflow: auto;
}


/* TREE LIST */
.treelist .treelist-item {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5em;
}

img {
    background-size: cover;
    background-position: center;
    height: 50%;
    width: 100%;
}

/* TREE PROFILE */
.tree_profile{
    margin: 0.7rem;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2, h3, p {
    margin: 20px 20px;
}
h2 {
    font-family: var(--font-header);
    color: var(--color-main-medium);
    margin-top: 10px;
    font-style: initial;
}
h3 {
    font-family: var(--font-body);
    color: var(--color-main-yellow);
    font-size: 1.2rem;
}
p {
    font-family: var(--font-body);
    font-size: 0.8rem;
    color: var(--color-main-dark);
}

.user_image {
    background-size: cover;
    background-position: center;
    height: 50%;
    width: 100%;
}

.user_profile {
    margin: 0.7rem;
}


.js-logout {
    background-color: var(--color-main-light);
    border-width: 0;
    border-radius: 0.8em;
    padding: 0.5em 1em;
    display: inline-block;
    width: 100%;
    font: inherit;
    text-align: center;
    color: inherit;
}




[data-role="footer"] .icon {
    width: 1.3rem;
    height: 1.3rem;
    vertical-align: middle;
}
[data-role="footer"] a {
    line-height: 1rem;
}
.footer-icon {
    display: block;
    line-height: 1.7rem;
}
.footer-label {
    line-height: 1.3rem;
    font-size: 0.6rem;
    display: block;
}